.App {
  text-align: center;
  min-height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-div {
  background-color: white;
  /* height: 100%; */
  height: 350px;
  width: 350px;
  border: 1px solid black;
  border-radius: 25px;
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  grid-template-rows: 77px 1fr 15%;
  /* flex-wrap: wrap; */
  /* margin: 10px; */
  padding: 15px;
  padding-bottom: 5px;
}

.top-div {
  display: flex;
  justify-content: center;

  /* position: relative; */
  /* margin: 5%; */
}
.profile-pic {
  height: 75px;
  width: 75px;
  background-color: white;
  border: 0.5px solid black;
  border-radius: 50%;
  /* flex: 1.5; */

  /* position: absolute; */
}

.name {
  /* float: right; */
  /* position: absolute; */
  /* margin-left: 30%; */
  /* margin-top: 4%; */
  padding: 5px 10px;
  text-align: left;
  flex: 1;
}

.profile-name {
  font-size: 23px;
}
.user-name {
  font-size: 15px;
  color: grey;
}

.tweet-div {
  text-align: left;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-overflow: hidden;
  /* align-items: center; */
  /* position: absolute; */
  /* margin-top: 15%; */
  /* margin-left: 4%; */
  font-size: 25px;
}

.bottom-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  /* position: absolute; */

  /* width: 100%; */
  /* height: 106px; */
  /* position: absolute; */
  /* left: 7.14%; */
  /* right: 7.14%; */
  /* top: 21.43%; */
  /* bottom: 21.43%; */
}

.bottom-div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
